@media only screen and (min-width: 0px) {
    .nav {
        background-color: #EEF0F1;
        color: #363d44;
        width: 100%;
        height: 52px;
        padding: 0 24px;
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        z-index: 2;
    }
    
    .navIconsContainer {
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
    
    .navIcons {
        width: 42px;
        display: flex;
        align-items: center;    
    }

    .fa-spinner {
        color: royalblue;
        font-size: 2rem;
        opacity: .5;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1.4s;
        animation-name: spinner-loading;
    }
    
    @keyframes spinner-loading {
        0% {
            transform: rotate(0deg);
        } to {
            transform: rotate(1turn);
        };
    }
    
    .fa-heart,
    .fa-horse-head,
    .fa-bookmark,
    .fa-ellipsis-h {
        margin-right: 12px;
        font-size: 1.3em;
        cursor: pointer;
    }

    .fa-ellipsis-h {
        margin-top: 4px;
    }

    .fa-heart:hover {
        color: #ee2c4d;
    }

    .fa-horse-head:hover {
        color: turquoise;
    }

    .fa-bookmark:hover {
        color: #3B49DF;
    }

    .fa-ellipsis-h:hover {
        color: black;
    }

    .heartActive {
        background-color: #ee2c4c80;
        color: #EEF0F1;
        border-radius: 50px;
        padding: 10px 8px 8px 8px;
    }

    .horseActive {
        background-color: #40e0d080;
        color: #EEF0F1;
        border-radius: 50px;
        padding: 8px 8px 8px 8px;
    }

    .bookmarkActive {
        background-color: #3b49df80;
        color: #EEF0F1;
        border-radius: 50px;
        padding: 8px 8px 8px 8px;;
    }

    .articleAsideContainer {
        width: 100%;
    }

    .article {
        background-color: white;
    }

    .bodyArticle,
    .articleContent {
        padding: 8px;
    }

    .titleArticle {
        font-size: 2em;
    }

    .dataArticle {
        display: flex;
        align-items: center;
        margin: 12px auto;
    }

    .nameAuthor,
    .publicationDate,
    .readTime {
        margin: 8px 8px 0;
    }
    
    .publicationDate,
    .readTime {
        color: #717981;
    }
    
    .nameAuthor {
        font-weight: 600;
    }
    
    .nameAuthor:hover {
        color: #3B49DF;
        cursor: pointer;
    }
    
    .coverArticleContainer {
        cursor: pointer;
        width: 100%;
        height: 36vh;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    
    .imgArticle {
        width: 100%;
        height: auto;
    }

    .imgAuthor {
        background-color: royalblue;
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    .articleContent {
        margin-top: 24px;
        font-size: 1.1em;
    }

    .discussionContainer {
        background-color: white;
        padding: 12px;
        border-top: 1px solid lightgray;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .discussionTitle {
        display: flex;
        justify-content: space-between;
    }

    .subscribeButton {
        background-color: white;
        color: #363D44;
        padding: 8px;
        font-size: 1em;
        font-weight: bold;
        border: 2px solid lightgray;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }

    .subscribeButton:hover {
        background-color: #f8f7f8;
        border: 2px solid #807f7f;
    }

    .discussionComments {
        margin: 24px auto 12px;
        display: flex;
        justify-content: space-between;
    }

    .commentUserImg {
        background-color: royalblue;
        width: 28px;
        height: 28px;
        border-radius: 100%;
    }

    .commentTextArea {
        background-color: #f8f6f6;
        width: 90%;
        font-size: 1.2em;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
        resize: none;
    }

    .aside {
        margin-top: 18px;
    }

    .userInfo {
        background: white;
        background: linear-gradient(180deg, black 18%, white 18%);
        height: 180px;
        padding: 12px;
        border: 1px solid lightgray;
        border-radius: 5px;
        position: relative;
    }

    .asideUserName {
        margin: 24px 52px 0;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
    }

    .asideUserName:hover {
        color: #3b49df;
    }

    .asideBiography {
        margin: 18px auto;
    }
    
    .asideBiography p, .otherArticles p {
        width: 80vw;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .asideFollowButton {
        background-color: #3B49DF;
        color: white;
        width: 100%;
        height: 42px;
        padding: 8px 16px;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        outline: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .asideFollowButton:hover {
        background-color: #323EBE;
    }

    .asideUserImg {
        width: 48px;
        height: 48px;
        position: absolute;
        top: 8px;
        left: 0;
    }

    .moreArticles {
        background-color: white;
        margin-top: 18px;
        border-radius: 5px;
        border: 1px solid #d3d3d3;
    }

    .moreArticles p,
    .moreArticles h5 {
        padding-left: 18px;
    }

    .moreArticlesTitle {
        height: 36px;
        font-size: 1.2em;
    }

    .otherArticles {
        height: 64px;
        cursor: pointer;
    }
    
    .otherArticles:hover {
        color: #3f4cdc;
    }

    .otherArticles,
    .moreArticlesTitle {
        margin: 16px auto;
        border-bottom: 1px solid #d3d3d3;
    }

    .lastOtherArticles {
        border-bottom: none;
    }

    .otherArticlesTags, .hashtag {
        color: #717981;
    }
    
    .otherArticles span, .hashtag span {
        color: #C5C8CB;
    }

    .moreArticlesLink {
        color: #3B49DF;
        cursor: pointer;
    }

    .footer {
        background-color: #D2D6DB;
        padding: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    
    .footerLinks p {
        font-size: 0.8em;
        margin: 0 8px;
        cursor: pointer;
    }
    
    .footerLinks p:hover {
        color: #3b49df;
    }
    
    .footerImg img {
        width: 0;
        height: 0;
    }
    
    .allFooterIcons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerIcon {
        color: #6b6c7a;
        margin: 12px;
        font-size: 1.4em;
    }
    
    .footerHr {
        width: 50px;
        color: #6b6b6b;
    }
    
    .footerCopyRigth {
        color: #6b6c7a;
        text-align: center;
    }
    
    .footerTextLinks {
        font-weight: 600;
        color: #313131;
        cursor: pointer;
    }
    
    .footerTextLinks:hover {
        color: #3b49df;
    }
    
    .footerLastImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerLastImg img {
        width: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .generalContent {
        padding: 8px;
        display: flex;
    }

    .nav {
        width: max-content;
        height: max-content;
        padding: 12px;
        position: static;
        align-items: center;
        z-index: 0;
        top: 80px;
    }
    
    .navIconsContainer {
        flex-direction: column;
        align-items: center;
        margin: 0 12px;
    }
    
    .navIcons {
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .articleAsideContainer {
        width: 90%;
    }

    .fa-heart,
    .fa-horse-head,
    .fa-bookmark,
    .fa-ellipsis-h {
        margin-right: 0px;
    }

    .article {
        border-radius: 5px;
        border: 1px solid lightgray;
    }

    .titleArticle {
        font-size: 2.5em;
        font-weight: bolder;
    }

    .bodyArticle,
    .dataArticle,
    .articleContent {
        padding: 0 48px;
    }

    .articleContent {
        margin-bottom: 48px;
        font-size: 1.4em;
    }

    .discussionContainer {
        padding: 36px;
    }

    .footer {
        padding: 48px;
    }

    .footerLinks {
        display: flex;
        justify-content: center;
    }

    .footerLinks p {
        margin: 8px;
        font-size: 1em;
    }

    .footerHr {
        width: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .nav {
        padding-left: 24px;
    }

    .articleAsideContainer {
        display: flex;
    }

    .article {
        width: 80%;
        margin: 0 12px;
    }

    .discussionTitle h3{
        font-size: 1.3em;
    }

    .commentTextArea {
        height: 80px;
    }

    .aside {
        width: 30%;
        margin: 0;
        margin-right: 40px;
    }

    .asideBiography p, .otherArticles p {
        width: 24vw;
    }

    .footer {
        padding: 48px;
        position: relative;
    }

    .footerImg img {
        width: 50px;
        height: auto;
        position: absolute;
        top: -2px;
        right: 48px;
    }
    
    .footerImg img:hover {
        transform: rotate(-2deg);
    }
}