@media only screen and (min-width: 320px) {
    body {
        background-color: #EEF0F1;
        margin: 0;
        font-family: 'Hind Siliguri', sans-serif;
    }

    *:hover {
        transition: 0.2s;
    }

    .responsiveHidden {
        overflow: hidden;
        width: 0;
        height: 0;
    }

    .header {
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .headerItemsContain {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }


    .headerItems {
        display: flex;
    }

    .edit,
    .preview {
        height: 42px;
        margin: 10px 0;
        padding: 8px 8px 0 8px;
        cursor: pointer;
    }

    .edit:hover,
    .preview:hover {
        color: #3B49DF;
        background-color: #DCDFEF;
        border-radius: 5px;
    }

    .editText {
        margin-bottom: 0;
        color: #20242E;
        font-weight: 500;
    }

    .preview {
        color: #3b3b3b;
    }

    hr {
        background-color: #3b49df;
        border: 0;
        height: 3px;
        width: 28px;
        margin-top: 6px;
    }

    .headerCloseContainer {
        border-radius: 5px;
        width: 32px;
        height: 32px;
        padding: 6px;
        margin-right: 14px;
        justify-content: center;
        align-self: center;
        cursor: pointer;
    }

    .headerClose {
        color: #20242E;
        font-size: 1.2em;
        font-weight: 300;
    }

    .headerCloseContainer:hover {
        background-color: #E6E8E8;
        text-decoration: none;
    }

    .postZone {
        background-color: #fff;
        border-radius: 5px;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .titleZone {
        padding: 12px;
    }

    .writeZone {
        height: 100%;
        padding: 32px 44px;
    }

    .coverForm {
        display: flex;
        align-items: center;
    }

    .newTitle,
    .addTags,
    .writePost {
        outline: none;
        border: none;
    }

    .coverImg {
        height: 40px;
        padding: 6px 16px;
        text-align: center;
        border: 2px solid rgb(208, 209, 211);
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
    }

    .coverImg:hover {
        background-color: #F6F6F6;
        border: 2px solid #99A3AD;
    }

    .coverRemove {
        color: #C20A0A;
        font-weight: 500;
        width: 88px;
        height: 40px;
        margin-left: 8px;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }

    .coverLoadedHidden,
    .coverRemoveHidden {
        display: none;
    }

    .coverLoaded {
        height: 100px;
        width: 250px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
    }
    
    .imgLoaded {
        width: 100%;
    }

    .coverRemove:hover {
        background-color: #F6F6F6;
    }

    .addTags,
    .writePost {
        color: #000;
        font-size: 1em;
        font-family: 'Source Code Pro', monospace;
    }

    .newTitle {
        color: #000;
        height: 46px;
        resize: none;
        font-weight: bolder;
        font-size: 2em;
        overflow: hidden;
    }

    .newTitle::placeholder {
        color: #64707D;
    }

    .imgZone {
        background-color:#F9FAFA;
    }

    .addImgContain {
        margin: 6px;
        height: 40px;
        width: 150px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .addImgContain:hover {
        background-color: #F0F1F1;
        border-radius: 5px;
    }

    .fa-image {
        color: #2f343a;
        padding: 12px 8px;
        font-size: 1.5em;
    }

    .uploadText {
        margin-top: 18px;
        color: #2f343a;
        font-size: 1em;
    }

    .uploadImg {
        display: none;
    }

    .writePost {
        height: 100%;
        width: 100%;
        margin-top: 16px;
        resize: none;
    }

    
    .footerPost {
        display: flex;
        align-items: center;
        margin: 8px 6px 0;
    }

    .publishPost {
        color: #fff;
        background-color: #3B49DF;
        padding: 8px 16px;
        font-weight: 500;
        margin-right: 8px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .publishPost:hover {
        background-color: #323EBE;
    }
    
    .save {
        color: #2f343a;
        background-color: #D2D6DB;
        height: 40px;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        padding-top: 8px;
        margin-right: 8px;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }
    
    .save:hover {
        color: #08090A;
        background: #B5BDC4;
    }
    
    .fa-cog {
        color: #4e5358;
        margin: 0 8px 16px;
        height: 38px;
        width: 38px;
        padding: 10px 8px;
        font-size: 1.3em;
        cursor: pointer;
    }
    
    .revert {
        color: #4e5358;
        height: 46px;
        width: 90px;
        padding: 4px;
        font-size: 0.9em;
        text-align: center;
        cursor: pointer;
    }

    .fa-cog:hover,
    .revert:hover {
        color: #08090A;
        background-color: #E6E8E8;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 425px) {
    .footerPost {
        margin: 18px 14px 0;
    }
    
    .save {
        margin-right: 8px;
        padding: 6px 16px;
        font-size: 1em;
    }

    .revert {
        color: #4e5358;
        height: 32px;
        width: max-content;
        padding: 4px;
        font-size: 0.9em;
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) {
    .responsiveHidden{
        width: auto;
        height: auto;
    }

    .header {
        height: 60px;
        width: 70%;
        margin: 0 12px;
        display: flex;
        justify-content: space-between;
    }

    .headerItemsContain {
        width: 69%;
        justify-content: space-between;
    }

    .headerItems {
        align-items: center;
    }

    .homeIcon {
        height: 40px;
        width: 50px;
        border-radius: 3px;
    }

    .homeIcon:hover {
        opacity: 0.8;
    }

    .headerTextWrite {
        color: #20242E;
        font-weight: 500;
    }

    .headerText {
        margin-top: 16px;
        margin-left: 6px;
    }

    .preview {
        margin-top: 10px;
    } 

    .headerClose {
        padding: 6px;
    }

    .generalContent {
        display: flex; /* For Post Guides With JS */
    }

    .postZone,
    .footerPost {
        width: 70%;
        margin: 0 12px 0 12px;
    }

    .titleZone,
    .writeZone {
        padding: 32px 44px;
    }

    .titleZone {
        height: 240px;
        display: flex;
        flex-direction: column;
    }

    .newTitle {
        height: 64px;
        font-size: 2.5em;
    }

    .addImgContain {
        margin: 10px 46px;
    }

    .writePost {
        margin-top: 0;
    }

    .footerPost {
        margin-top: 16px;
    }

    .guide {
        margin-right: 12px;
        position: absolute;
        display: none;
    }
    
    .guideTitles {
        color: #08090A;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    .guideItems {
        color: #4D5760;
        padding-left: 8px;
    }
    
    .secondaryItem {
        color: #4D5760;
        padding-left: 16px;
    }
    
    .firstGuide {
        top: 134px;
    }
    
    .secondGuide {
        top: 124px;
    }
    
    .thirdGuide {
        top: 258px;
    }
    
    .blueWords {
        color: #3B49DF;
        cursor: pointer;
    }
    
    .visibility {
        display: block; /* For Post Guides With JS */
    }

    .modal-dialog {
        margin-top: 12px;
        max-width: 768px;
        border: 1px solid #08090A;
        border-radius: 8px;
        box-shadow: 8px 8px #08090A;
    }
    
    .modal-header {
        align-items: center;
        border-bottom: 2px solid #08090A;
        margin-right: 6px;
    }

    .modal-title {
        font-size: 1.5em;
        font-weight: 600;
        color: #08090A;
    }

    .buttonClose {
        background-color: transparent;
        border: none;
        width: 24px;
    }

    .close {
        color: #08090A;
        font-size: 1.1em;
        font-weight: 300;
        opacity: 5;
    }
    
    .modal-body {
        padding: 48px;
    }

    .modalTitle { /* For Modal Body Titles */
        font-weight: 400;
    }

    .modalText {
        font-size: 1.3em;
    }
    
    .examples,
    .code {
        font-family: 'Source Code Pro', monospace;
    }

    .examples {
        background-color: #E5E5E5;
        width: max-content;
        font-size: 14px;
        border-radius: 4px;
    }
    
    .linkFalse,
    .modalLinks {
        color:#4F5CE2;
    }
    
    .modalLinks:hover {
        text-decoration: none;
    }
    
    .code {
        color: #fff;
        background-color: #08090A;
        font-size: 1em;
        border-radius: 5px;
    }
    
    .modalImage {
        margin-left: 200px;
    }

    .modalCaption {
        color: #666666;
        font-size: 1em;
        margin-left: 124px;
    }
    
    .modalListImg {
        margin-left: 128px;
    }
}

@media only screen and (min-width: 1024px) {
    .header {
        height: 60px;
        width: 100vw;
        margin: 0;
        padding: 6px 12px;
    }

    .headerItemsContain {
        width: 69%;
    }

    .headerCloseContainer {
        width: 36px;
        height: 36px;
        justify-content: flex-end;
    }

    .postZone,
    .footerPost {
        width: 62%;
        margin: 0 12px 0 84px;
    }

    .footerPost {
        margin-top: 10px;
    }
}