@media only screen and (min-width: 0px) {
    .userDataContainer{
        text-decoration: none;
        color: inherit;
    }

    .header {
        height: 60px;
        width: 100%;
        padding: 0 8px;
        border-bottom: 0.5px solid rgb(220, 220, 220);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

    .homeSearch {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 8px;
    }

    .homeIcon {
        height: 40px;
        width: 50px;
        border-radius: 3px;
    }

    .homeIcon:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .search {
        display: none;
    }

    .search:focus {
        background-color: white;
        border: 1px solid #3b49df;
        box-shadow: 1px 1px #3b49df;
        outline: none;
    }

    .fa-search{
        color: #363D44;
        font-size: 1.3em;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .fa-search:hover{
        color: black;
        background-color: #F6F6F6;
    }

    .headerButtons {
        align-items: center;
        display: flex;
    }

    .headerWritePost {
        text-decoration: none;
        padding: 8px 16px;
        font-weight: 500;
    }

    .headerLogIn {
        display: none;
    }

    .headerLogIn:hover {
        background-color: #F6F6F6;
        border-radius: 5px;
    }

    .headerWritePost {
        color: white;
        background-color: #3b49df;
        border-radius: 5px;
    }

    .headerWritePost:hover {
        background-color: #323EBE;
    }

    .headerWritePost {
        display: none;
        height: max-content;
        margin: 8px 12px;
    }

    .headerIcons {
        color: #363D44;
        display: flex;
        align-items: center;
    }

    .logedIcons {
        padding: 4px 10px;
        margin:  0 0 0 8px;
        width: 40px;
        height: 40px;
        font-size: 1.3em;
        cursor: pointer;
    }

    .logedIcons:hover {
        color: black;
        background-color: #F6F6F6;
        border-radius: 50px;
    }

    .imgAuthor {
        cursor: pointer;
        margin: 10px 10px 0 10px;
        width: 34px;
        height: 34px;
        border-radius: 50px;
        background-color: #3b49df;
    }

    .visibility {
        display: none;
    }

    .userSettings {
        background-color:#FFF;
        width: 232px;
        height: max-content;
        padding: 4px;
        position: absolute;
        top: 60px;
        right: 8px;
        border-radius: 5px;
        border: 2px solid black;
        box-shadow: 4px 4px black;
    }

    .userData,
    .sessionOptions,
    .signOut {
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 8px 0;
        cursor: pointer;
    }

    .userData,
    .sessionOptions {
        border-bottom: 1px solid lightgrey;
    }

    .sessionOptions {
        line-height: 40px;
    }

    .userData,
    .sessionOptions a,
    .sessionOptions p,
    .signOut p {
        padding-left: 8px;
        display: block;
    }

    .signOut {
        padding-top: 8px;
    }

    .settingsUsername {
        color: lightgray;
        font-size: 0.9em;
    }

    .userData:hover,
    .userData p:hover,
    .userSettings a:hover,
    .userSettings p:hover {
        background-color: #F2F2F3;
        color: #5B65C9;
        border-radius: 5px;
    }

    .userSettingsLinks {
        text-decoration: none;
        color: inherit;
    }

    .userHeader {
        padding-top: 12px;
        height: 80px;
        cursor: pointer;
    }

    .userHeader:hover img {
        box-shadow: 0 0 0 4px #F6F6F6;
    }

    .userHeader:hover div {
        display: block;
    }

    .main {
        padding: 8px;
    }

    .dashTitle {
        font-size: 1.5em;
        margin: 0 auto 8px;
    }

    .responsiveNav,
    .postSelect {
        height: 40px;
        outline: none;
        border-color: #B5BDC4;
        background-color: #f9fafa;
        padding: .4em 2rem .3em .8em;
        margin: 8px 0;
        font-size: 1rem;
        line-height: 1.5;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
        border-radius: .3em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-position: right .5em top 48%, 0 0;
        background-size: 1.5rem auto, 100%;
        cursor: pointer;
    }

    .responsiveNav:focus,
    .postSelect:focus {
        background-color: white;
        border: 1px solid #3b49df;
        box-shadow: 1px 1px #3b49df;
    }

    .responsiveNav:hover,
    .postSelect:hover {
        border-color: grey;
    }

    .quantityContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6px;
    }

    .quantityBox {
        background-color: #f8f8f8;
        width: 48%;
        padding: 12px;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
    }

    .responsiveNav {
        width: 100%;
    }

    .postSelect {
        width: max-content;
        margin: 12px auto;
    }

    .quantity {
        font-size: 1.6em;
        font-weight: 600;
        margin: 0;
    }

    .boxText {
        color: #6e6e6e;
        margin: 0;
    }

    .dasboardNav {
        display: none;
    }

    .subHeaderTitle {
        display: none;
    }

    .cardWithoutArticles {
        background-color: #F9FAFA;
        height: 80vh;
        padding: 48px;
        border: 1px solid lightgray;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardWithoutArticles img {
        margin-bottom: 32px;
    }

    .cardText {
        margin-bottom: 24px;
        font-size: 1.1em;
        text-align: center;
    }
    
    .cardButtonText {
        background-color: #3b49df;
        border-radius: 5px;
        border: none;
        outline: none;
        text-decoration: none;
        color: #fff;
        padding: 12px 18px;
        font-size: 1em;
        font-weight: 500;
        cursor: pointer;
    }

    .cardButtonText:hover {
        background-color: #323EBE;
    }

    .dashboardCards {
        height: 160px;
        padding: 12px;
        background-color: #fff;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        margin-bottom: 8px;
    }

    .dashboardCards:hover {
        background-color: #f8f8f8;
    }
    
    .titledCards,
    .iconsCards,
    .optionsCards {
        display: flex;
    }

    .titleCards p{
        margin: 0;
    }

    .title {
        color: #3b49df;
        width: 140px;
        font-size: 1.3em;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }

    .iconsCards i{
        margin: 8px;
    }

    .iconsCards i::before{
        margin-right: 4px;
    }

    .optionsCards {
        justify-content: flex-end;
        align-items: center;
    }

    .optionsCards p,
    .optionsCards i {
        height: 32px;
        margin: auto 4px;
        border-radius: 5px;
        cursor: pointer;
    }

    .optionsCards p {
        padding: 2px 8px;
    }

    .optionsCards i {
        padding: 8px;
    }

    .optionsCards p:hover,
    .optionsCards i:hover {
        background-color: #F0F1F1;
    }

    .publishDate,
    .iconsCards {
        color: #6e6e6e;
    }

    .footer {
        background-color: #D2D6DB;
        padding: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .footerLinks p {
        font-size: 0.8em;
        margin: 0 8px;
        cursor: pointer;
    }
    
    .footerLinks p:hover {
        color: #3b49df;
    }
    
    .footerImg img {
        width: 0;
        height: 0;
    }
    
    .allFooterIcons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerIcon {
        color: #6b6c7a;
        margin: 12px;
        font-size: 1.4em;
    }
    
    .footerHr {
        width: 50px;
        color: #6b6b6b;
    }
    
    .footerCopyRigth {
        color: #6b6c7a;
        text-align: center;
    }
    
    .footerTextLinks {
        font-weight: 600;
        color: #313131;
        cursor: pointer;
    }
    
    .footerTextLinks:hover {
        color: #3b49df;
    }
    
    .footerLastImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerLastImg img {
        width: 30px;
    }

    .visibility {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 0 24px;
    }

    .search {
        display: block;
        font-size: 0.9em;
        font-weight: 500;
        width: 170%;
        height: 40px;
        padding: 7px;
        margin-left: 15px;
        margin-bottom: 8px;
        background-color: #F9FAFA;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }

    .fa-search {
        display: none;
    }
    
    .headerLogIn {
        display: block;
        margin-right: 8px;
        color: #3b49df;
    }

    .headerWritePost {
        display: block;
        height: max-content;
        margin: 8px 12px;
    }

    .userSettings {
        right: 24px;
    }

    .quantityContainer {
        display: flex;
        flex-wrap: nowrap;
    }

    .responsiveNav {
        display: none;
    }

    .dashboard,
    .subHeaderDashboard {
        display: flex;
    }

    .bodyDashboard {
        width: 85%
    }

    .dasboardNav {
        display: flex;
        flex-direction: column;
        width: max-content;
        padding: 12px 12px 0 0;
    }

    .navItems {
        height: 36px;
        width: 240px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navItems p {
        margin: auto 8px;
        line-height: 18px;
    }

    .itemActive {
        background-color: #fff;
        border-radius: 5px;
    }

    .numItems {
        background-color: #D2D6DB;
        width: max-content;
        height: 20px;
        padding: 2px 4px;
        border-radius: 5px;
    }

    .navButton {
        background-color: #D2D6DB;
        height: 38px;
        margin-top: 12px;
        padding-top: 6px;
        border-radius: 5px;
        text-align: center;
    }

    .navButton:hover {
        background-color: #B5BDC4
    }

    .subHeaderDashboard {
        margin: 12px;
        justify-content: space-between;
        align-items: center;
    }

    .subHeaderTitle {
        font-size: 1.3em;
        font-weight: 600;
        display: flex;
    }

    .postSelect {
        margin: auto 0;
        width: max-content;
        font-size: 0.9em;
    }

    .quantityBox {
        height: 128px;
        padding: 12px 24px;
    }

    .quantity {
        font-size: 2em;
    }

    .dashboardCards {
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer {
        padding: 48px;
    }

    .footerLinks {
        display: flex;
        justify-content: center;
    }

    .footerLinks p {
        margin: 8px;
        font-size: 1em;
    }

    .footerHr {
        width: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .main{
        margin: auto 48px;
    }

    .dasboardNav {
        width: max-content;
    }

    .footer {
        padding: 48px;
        position: relative;
    }

    .footerImg img {
        width: 50px;
        height: auto;
        position: absolute;
        top: -2px;
        right: 48px;
    }
    
    .footerImg img:hover {
        transform: rotate(-2deg);
    }
}