/* Extra small devices (phones, 768px and down) */
@media only screen and (min-width: 0px) {
    .header {
        height: 60px;
        width: 100%;
        padding: 0 8px;
        border-bottom: 0.5px solid #dcdcdc;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

    .homeSearch {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 8px;
    }

    .homeIcon {
        height: 40px;
        width: 50px;
        border-radius: 3px;
    }

    .homeIcon:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .search {
        display: none;
    }

    .search:focus {
        background-color: white;
        border: 1px solid #3b49df;
        box-shadow: 1px 1px #3b49df;
        outline: none;
    }

    .fa-search,
    .fa-bars {
        color: #363D44;
        font-size: 1.3em;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .fa-bars {
        margin: 0 8px 8px 0;
    }
    
    .fa-search:hover,
    .fa-bars:hover {
        color: black;
        background-color: #F6F6F6;
    }

    .headerButtons {
        align-items: center;
        display: flex;
    }

    .headerLogIn,
    .headercreateAcc,
    .headerWritePost {
        text-decoration: none;
        padding: 8px 16px;
        font-weight: 500;
    }

    .headerLogIn {
        display: none;
    }

    .headerLogIn:hover {
        background-color: #F6F6F6;
        border-radius: 5px;
    }

    .headercreateAcc,
    .headerWritePost {
        color: white;
        background-color: #3b49df;
        border-radius: 5px;
    }

    .headercreateAcc {
        margin-left: 8px;
    }

    .headercreateAcc:hover,
    .headerWritePost:hover {
        background-color: #323EBE;
    }

    .headerWritePost {
        display: none;
        height: max-content;
        margin: 8px 12px;
    }

    .headerIcons {
        color: #363D44;
        display: flex;
        align-items: center;
    }

    .logedIcons {
        padding: 4px 10px;
        margin:  0 0 0 8px;
        width: 40px;
        height: 40px;
        font-size: 1.3em;
        cursor: pointer;
    }

    .logedIcons:hover {
        color: black;
        background-color: #F6F6F6;
        border-radius: 50px;
    }

    .imgAuthor {
        cursor: pointer;
        margin: 10px 0 0 10px;
    }

    .userSettings {
        background-color:#FFF;
        width: 232px;
        height: max-content;
        padding: 4px;
        position: absolute;
        top: 60px;
        right: 8px;
        border-radius: 5px;
        border: 2px solid black;
        box-shadow: 4px 4px black;
    }

    .userData,
    .sessionOptions,
    .signOut {
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 8px 0;
        cursor: pointer;
    }

    .userData,
    .sessionOptions {
        border-bottom: 1px solid lightgrey;
    }

    .sessionOptions {
        line-height: 40px;
    }

    .userData,
    .sessionOptions a,
    .sessionOptions p,
    .signOut p {
        padding-left: 8px;
        display: block;
    }

    .signOut {
        padding-top: 8px;
    }

    .settingsUsername {
        color: lightgray;
        font-size: 0.9em;
    }

    .userData:hover,
    .userData p:hover,
    .userSettings a:hover,
    .userSettings p:hover {
        background-color: #F2F2F3;
        color: #5B65C9;
        border-radius: 5px;
    }

    .userSettingsLinks {
        text-decoration: none;
        color: inherit;
    }

    .userHeader {
        padding-top: 12px;
        height: 80px;
        cursor: pointer;
    }

    .userHeader:hover img {
        box-shadow: 0 0 0 4px #F6F6F6;
    }

    .userHeader:hover div {
        display: block;
    }

    .visibility {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header {
        padding: 0 24px;
    }

    .search {
        display: block;
        font-size: 0.9em;
        font-weight: 500;
        width: 170%;
        height: 40px;
        padding: 7px;
        margin-left: 15px;
        margin-bottom: 8px;
        background-color: #F9FAFA;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }

    .fa-bars,
    .fa-search {
        display: none;
    }
    
    .headerLogIn {
        display: block;
        margin-right: 8px;
        color: #3b49df;
    }

    .headerWritePost {
        display: block;
        height: max-content;
        margin: 8px 12px;
    }

    .userSettings {
        right: 24px;
    }

    
    .visibility {
        display: none;
    }
}