/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .navVisibility {
        display: none;
    }

    .nav {
        background-color: #fff;
        width: 294px;
    }

    .responsiveNavBg {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.300);
        width: 100vw;
    }

    .responsiveNavTitle {
        font-size: 1.2em;
        font-weight: 600;
        margin: 8px;
        line-height: 3em;
        display: inline;
    }

    .fa-times {
        margin-left: 36px;
        padding: 11px 13px;
        color: #363D44;
        font-size: 1.3em;
        font-weight: 400;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .fa-times:hover {
        background-color: #E6E8E8;
    }

    .responsiveNavHr {
        background-color: #E6E8E8;
        height: 1px;
        border: none;
    }

    .navItems{
        height: 40px;
        margin: 12px 0 0 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .navItems:hover,
    .popularItems:hover {
        background-color: #E2E4E6;
        color: #323EC2;
        border-radius: 5px;
    }

    .signIn,
    .loginChanges {
        display: flex;
        align-items: center;
    }

    .SingInText {
        color: inherit;
        text-decoration: none;
    }

    .loginChanges {
    position: absolute;
    }

    .icon {
        font-size: 1em;
        margin: 0 10px;
    }

    .fa-microphone-alt {
        font-size: 1.2em;
    }

    .fa-hands-helping {
        color: #FED85C;
    }

    .fa-scroll,
    .fa-tag,
    .fa-home {
        color: #FFD983;
    }

    .fa-microphone-alt,
    .fa-video {
        color: #66757F;
    }

    .navText,
    .more,
    .popularItems {
        font-size: 1em;
        font-weight: 400;
    }

    .more {
        color:#717981;
        padding-left: 18px;
    }

    .more:hover{
        background-color:#E2E4E6;
        color: #4D76A5;
    }

    .navTagsTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .popularTags {
        margin: 12px;
    }

    .popularTitle {
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .fa-cog {
        color: #4e5358;
        height: 34px;
        width: 34px;
        padding: 8px;
        font-size: 1.1em;
        cursor: pointer;
    }

    .fa-cog:hover {
        background-color: #E6E8E8;
        color: #08090A;
        border-radius: 5px;
    }

    .populars {
        height: 200px;
        overflow: auto;
    }
    .popularItems {
        color: #202428ec;
        height: 40px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .publicity {
        opacity: 0;
    }

    .publicityImg {
        border-radius: 5px;
    }

    .publicityText {
        color: #323EC2;
        font-size: 1.5em;
        font-weight: 600;
        text-align: center;
        width: 100%;
    }

    .visibility {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav {
        margin: 20px 20px 0 16px;
    }

    .responsiveNavHr,
    .responsiveNavTitle,
    .fa-times {
        display: none;
    }

    .navItems{
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .navItems:hover,
    .popularItems:hover {
        background-color: #E2E4E6;
        color: #323EC2;
        border-radius: 5px;
    }

    .signIn,
    .loginChanges {
        display: flex;
        align-items: center;
    }

    .SingInText {
        color: inherit;
        text-decoration: none;
    }

    .loginChanges {
    position: absolute;
    }

    .icon {
        font-size: 1em;
        margin: 0 10px;
    }

    .fa-microphone-alt {
        font-size: 1.2em;
    }

    .fa-hands-helping {
        color: #FED85C;
    }

    .fa-scroll,
    .fa-tag,
    .fa-home {
        color: #FFD983;
    }

    .fa-microphone-alt,
    .fa-video {
        color: #66757F;
    }

    .navText,
    .more,
    .popularItems {
        font-size: 1em;
        font-weight: 400;
    }

    .more {
        color:#717981;
        padding-left: 18px;
    }

    .more:hover{
        background-color:#E2E4E6;
        color: #4D76A5;
    }

    .navTagsTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .popularTags {
        margin-top: 30px;
    }

    .popularTitle {
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .fa-cog {
        color: #4e5358;
        height: 34px;
        width: 34px;
        padding: 8px;
        font-size: 1.1em;
        cursor: pointer;
    }

    .fa-cog:hover {
        background-color: #E6E8E8;
        color: #08090A;
        border-radius: 5px;
    }

    .populars {
        height: 200px;
        overflow: auto;
    }
    .popularItems {
        color: #202428ec;
        height: 40px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .publicity {
        margin-top: 35px;
        cursor: pointer;
    }

    .publicityImg {
        border-radius: 5px;
    }

    .publicityText {
        color: #323EC2;
        font-size: 1.5em;
        font-weight: 600;
        text-align: center;
        width: 100%;
    }

    .visibility {
        display: none;
    }
}