body {
    margin:0;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #EEF0F1;
}

* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

*:hover {
    transition: 0.2s;
}

.container {
    background-color: #EEF0F1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}