/* Extra small devices (phones, 768px and down) */
@media only screen and (min-width: 0px) {
    .mainHeader,
    .priority {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .priority {
        display: none;
    }

    .mainResponsiveSelect {
        outline: none;
        border-color: #B5BDC4;
        background-color: #f9fafa;
        padding: .4em 2rem .3em .8em;
        margin: 8px 0;
        font-size: 1rem;
        line-height: 1.5;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
        border-radius: .3em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-position: right .5em top 48%, 0 0;
        background-size: 1.5rem auto, 100%;
        cursor: pointer;
    }

    .mainResponsiveSelect:focus {
        background-color: white;
        border: 1px solid #3b49df;
        box-shadow: 1px 1px #3b49df;
    }

    .mainResponsiveSelect:hover {
        border-color: grey;
    }

    .posts {
        color: #202428;
        align-self: flex-end;
        padding-bottom: 8px;
        font-size: 2em;
        font-weight: 600;
        margin-right: 16px;
    }

    .priorityItems {
        color: #363D44;
        height: 40px;
        margin: 20px 2px 6px 0;
        padding: 8px;
        cursor: pointer;
    }

    .active {
        color: #08090A;
        font-weight: 500;
        align-items: center;
    }

    .hr {
        background-color: #3b49df;
        border: 0;
        height: 3px;
        width: 36px;
        margin-top: 2px;
    }

    .priorityItems:hover {
        background-color: #DCDFEF;
        color: #323EBE;
        border-radius: 5px;
    }

    .mainContent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .fa-spinner {
        color: royalblue;
        margin-top: 4rem;
        font-size: 2.8rem;
        opacity: .5;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 1.4s;
        animation-name: spinner-loading;
    }
    
    @keyframes spinner-loading {
        0% {
            transform: rotate(0deg);
        } to {
            transform: rotate(1turn);
        };
    }

    .article {
        margin-bottom: 6px;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 5px;
        min-width: 90vw;
        cursor: pointer;
    }

    .responsiveinteractionText {
        display: none;
    }

    .headerArticle,
    .bodyArticle {
        padding: 0 16px;
        cursor: pointer;
    }

    .headerArticle {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .coverArticleContainer {
        cursor: pointer;
        width: 100%;
        height: 180px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .imgArticle {
        width: 100%;
        height: auto;
    }

    .imgAuthor {
        width: 34px;
        height: 34px;
        margin-right: 10px;
        border-radius: 50px;
        background-color: #3b49df;
    }

    .nameAuthor {
        color: #3f3f3f;
        font-size: 0.9em;
        font-weight: 600;
    }

    .publicationDate {
        font-size: 0.8em;
        color: #717981;
    }

    .bodyArticle,
    .footerArticle {
        margin-left: 44px;
    }

    .hashtags {
        color: #C5C8CB;
        margin-bottom: 8px;
        display: flex;
        font-size: 0.9em;
    }

    .hashtag span{
        color: #717981;
        margin-right: 8px;
    }

    .hashtag span:hover {
        color: black;
    }

    .footerArticle,
    .interactions,
    .interactionSave,
    .comments,
    .reactions {
        display: flex;
        flex-direction: row;
    }

    .footerArticle {
        padding: 0 16px 16px 0;
        justify-content: space-between;
    }

    .reactions,
    .comments,
    .interactionSave {
        align-items: center;
    }

    .interactions {
        width: 45%;
        color: #3f3f3f;
    }

    .reactions,
    .comments {
        padding: 4px 8px;
        width: max-content;
        cursor: pointer;
    }

    .interactionText {
        margin-left: 8px;
    }

    .readTime {
        margin-right: 8px;
        color: #717981;
        font-size: 0.8em;
    }

    .save {
        color: #3f3f3f;
        font-size: 0.9em;
        background-color: lightgrey;
        width: 50px;
        height: 30px;
        padding: 3px 0;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }

    .titleArticle:hover {
        color: #323EBE;
    }

    .nameAuthor:hover,
    .publicationDate:hover {
        color: #08090A;
    }

    .reactions:hover,
    .comments:hover {
        color: #08090A;
        background-color: #F6F6F6;
        border-radius: 5px;
    }

    .save:hover {
        color: #08090A;
        background-color: #B5BDC4;
    }

    .aside {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav {
        display: block;
        min-width: 20vw;
    }

    .article {
        min-width: 60vw;
    }

    .publicityImg {
        width: 100%;
    }

    .mainResponsiveSelect {
        display: none;
    }

    .priority {
        display: flex;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .aside {
        display: block;
    }

    .article {
        min-width: 40vw;
    }
}