.aside {
    margin: 20px 20px 0 20px;
    width: 20vw;
}

.dev,
.asideListings,
.createList,
.news {
    background-color: #F9FAFA;
    border-radius: 5px;
}

.dev,
.asideListings,
.news {
    margin-bottom: 10px;
}

.dev {
    width: 100%;
    padding: 16px;
    border: 1px solid rgb(230, 229, 229);
}

.devTitle {
    line-height: 30px;
    margin-top: 5px;
}

.outstandingText {
    color: #3B49DF;
    text-decoration: none;
}

.devText {
    color: #4D5760;
    margin-bottom: 16px;
}

.asideButtons {
    display: flex;
    flex-direction: column;
}

.asideCreate,
.asideLogin {
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}

.asideCreate {
    color: white;
    background-color: #3B49DF;
}

.asideCreate:hover {
    background-color: #323EBE;
}

.asideLogin {
    color: #3B49DF;
    margin-top: 5px;
}

.asideLogin:hover {
    background-color: #F0F1F1;
}

.rainbow {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    transform: rotate(-15deg);
}

.seeListings,
.list,
.newTitle {
    padding: 0 16px;
    border-bottom: 1px solid rgb(230, 229, 229);
}

.list:hover {
    background-color: #fff;
}
.seeListings {
    display: flex;
    justify-content: space-between;
}

.listingsTitle,
.seeAll {
    padding: 10px 0;
}

.newTitle {
    padding: 10px;
}

.seeAll {
    color: #3B49DF;
    font-weight: 500;
    cursor: pointer;
}

.asideText {
    color: #2b3035;
    padding-top: 20px;
    cursor: pointer;
}

.asideText:hover {
    color: #3B49DF;
}

.asideTag {
    color: #717981;
    margin-bottom: 20px;
    font-size: 0.9em;
    cursor: pointer;
}

.asideTag:hover {
    color: #61676d;
}

.createList {
    text-align: center;
    padding: 12px;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
}

.createList:hover {
    color: #3B49DF;
}

.tagsNew {
    color: white;
    background-color: #3B49DF;
    width: 30px;
    margin-bottom: 20px;
    padding: 2px 4px;
    font-size: 0.7em;
    border-radius: 5px;
    cursor: pointer;
}