@media only screen and (min-width: 0px) {
    body {
        background-color: #EEF0F1;
        margin: 0;
        font-family: 'Hind Siliguri', sans-serif;
    }

    * {
        box-sizing: border-box;
    }
    
    *:hover {
        transition: 0.2s;
    }    

    .header {
        height: 60px;
        width: 100%;
        padding: 0 8px;
        border-bottom: 0.5px solid rgb(220, 220, 220);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

    .homeSearch {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 8px;
    }

    .homeIcon {
        height: 40px;
        width: 50px;
        border-radius: 3px;
    }

    .homeIcon:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .search {
        display: none;
    }

    .search:focus {
        background-color: white;
        border: 1px solid #3b49df;
        box-shadow: 1px 1px #3b49df;
        outline: none;
    }

    .fa-search,
    .fa-bars {
        color: #363D44;
        font-size: 1.3em;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .fa-bars {
        margin: 0 8px 8px 0;
    }
    
    .fa-search:hover,
    .fa-bars:hover {
        color: black;
        background-color: #F6F6F6;
    }

    .headerButtons {
        align-items: center;
        display: flex;
    }

    .headerLogIn,
    .headercreateAcc {
        text-decoration: none;
        padding: 8px 16px;
        font-weight: 500;
    }

    .headerLogIn {
        display: none;
    }

    .headerLogIn:hover {
        background-color: #F6F6F6;
        border-radius: 5px;
    }

    .headercreateAcc {
        color: white;
        background-color: #3b49df;
        border-radius: 5px;
    }

    .headercreateAcc {
        margin-left: 8px;
    }

    .headercreateAcc:hover {
        background-color: #323EBE;
    }

    .headerIcons {
        color: #363D44;
        display: flex;
        align-items: center;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .loginContainer {
        background-color: #fff;
        padding: 18px 8px;
        text-align: center;
        border-bottom: 0.5px solid #dcdcdc;
    }

    .loginTitle {
        font-size: 1.4em;
        font-weight: 600;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .loginSubtitle {
        color: #5c5c5c;
        font-size: 1em;
        margin-block-start: 0;
    }
    
    .loginSubtitleLink {
        color: #323EBE;
    }

    .loginGithubButton,
    .loginTwitterButton,
    .formButton {
        width: 90%;
        height: 46px;
        margin: 6px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .loginButtonText {
        color: #fff;
        font-size: 0.9em;
        font-weight: 500;
        text-decoration: none;
    }

    .fa-github,
    .fa-twitter {
        margin: 0 8px;
        font-size: 1.3em;
    }

    .loginGithubButton {
        background-color: #292828;
    }
    .loginGithubButton:hover {
        background-color: #000000;
    }

    .loginTwitterButton {
        background-color: #33adf8;
    }

    .loginTwitterButton:hover {
        background-color: #0096F2;
    }

    .separator::before {
        border: 1px solid #dcdcdc;
        width: 30px;
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        left: 14px;
    }
    
    .separator {
        position: relative;
    }
    
    .separatorText {
        color: #474747;
        font-size: 0.8em;
        padding: 0 54px;
    }
    
    .separator::after {
        border: 1px solid #dcdcdc;
        width: 36px;
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        right: 14px;
    }

    .registrationForm {
        display: flex;
        flex-direction: column;
    }
    
    .loginLabel {
        display: flex;
        justify-content: start;
        font-weight: 500;
    }

    .formInput {
        background-color: #F9FAFA;
        height: 36px;
        margin-bottom: 12px;
        border: 1px solid #c9c7c7;
        border-radius: 5px;
    }

    .formInput:focus {
        background-color: white;
        border: 1px solid #3b49df;
        box-shadow: 1px 1px #3b49df;
        outline: none;
    }

    .checkZone {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
    .checkLabel {
        margin-left: 8px;
        font-weight: 400;
    }
    
    .formButton {
        background-color: #3b49df;
        color: #fff;
        border: none;
        outline: none;
        font-weight: 500;
        cursor: pointer;
    }
    
    .formButton:hover {
        background-color: #323EBE;
    }

    .forgetedPass {
        color: #3b49df;
        font-size: 0.9em;
        cursor: pointer;
    }

    .mainCaptions {
        color: #868686;
        font-size: 0.9em;
        font-family: 'Source Code Pro', monospace;
    }
    
    .fa-heart {
        color: #DD2E44;
        font-size: 1.1em;
    }

    .footer {
        background-color: #D2D6DB;
        padding: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .footerLinks p {
        font-size: 0.8em;
        margin: 0 8px;
        cursor: pointer;
    }
    
    .footerLinks p:hover {
        color: #3b49df;
    }
    
    .footerImg img {
        width: 0;
        height: 0;
    }
    
    .allFooterIcons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerIcon {
        color: #6b6c7a;
        margin: 12px;
        font-size: 1.4em;
    }
    
    .footerHr {
        width: 50px;
        color: #6b6b6b;
    }
    
    .footerCopyRigth {
        color: #6b6c7a;
        text-align: center;
    }
    
    .footerTextLinks {
        font-weight: 600;
        color: #313131;
        cursor: pointer;
    }
    
    .footerTextLinks:hover {
        color: #3b49df;
    }
    
    .footerLastImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerLastImg img {
        width: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 0 24px;
    }

    .search {
        display: block;
        font-size: 0.9em;
        font-weight: 500;
        width: 170%;
        height: 40px;
        padding: 7px;
        margin-left: 15px;
        margin-bottom: 8px;
        background-color: #F9FAFA;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }

    .fa-bars,
    .fa-search {
        display: none;
    }
    
    .headerLogIn {
        display: block;
        margin-right: 8px;
        color: #3b49df;
    }

    .loginContainer {
        height: 600px;
        width: 640px;
        margin: 6px auto;
        padding: 48px;
        border: 0.5px solid #dcdcdc;
        border-radius: 8px;
    }

    .loginTitle {
        font-size: 1.8em;
    }

    .loginGithubButton,
    .loginTwitterButton,
    .formButton {
        width: 100%;
        margin: 8px auto;
    }

    .loginButtonText {
        font-size: 1em;
    }

    .fa-github,
    .fa-twitter {
        margin: 0 12px;
    }

    .separator::before {
        width: 100px;
        top: 9px;
        left: 0;
    }

    .separatorText {
    font-size: 0.9em;
    }

    .separator::after {
        width: 100px;
        top: 9px;
        right: 0;
    }

    .footer {
        padding: 48px;
    }

    .footerLinks {
        display: flex;
        justify-content: center;
    }

    .footerLinks p {
        margin: 8px;
        font-size: 1em;
    }

    .footerHr {
        width: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .footer {
        padding: 48px;
        position: relative;
    }

    .footerImg img {
        width: 50px;
        height: auto;
        position: absolute;
        top: -2px;
        right: 48px;
    }
    
    .footerImg img:hover {
        transform: rotate(-2deg);
    }
}