@media only screen and (min-width: 0px) {
    .userDataContainer {
        text-decoration: none;
        color: inherit;
    }
    
    .main {
        background: #eef0f1;
        background: linear-gradient(180deg, #000 20%, #eef0f1 20%);
        height: 82vh;
    }

    .mainContainer {
        position: relative;
        padding-top: 40px;
    }

    .profileData {
        background-color: #fff;
        height: 288px;
        padding: 12px;
        border-bottom: 1px solid #dcdcdc;
    }
    
    .profileUserImg,
    .editButton,
    .modalEditProfile {
        position: absolute;
    }

    .profileUserImg {
        background-color: royalblue;
        width: 64px;
        border-radius: 50px;
        border: 4px solid black;
        top: 4px;
        left: 12px;
    }

    .editButton {
        color: white;
        background-color: #3b49df;
        top: 48px;
        right: 8px;
        cursor: pointer;
    }

    .editButton:hover {
        background-color: #323EBE;
    }

    .editButton,
    .moreInfoButton {
        padding: 12px 18px;
        font-size: 1em;
        font-weight: 500;
        border-radius: 5px;
        border: none;
        outline: none;
    }

    .modalEditProfile {
        background-color: #fff;
        width: 90%;
        padding: 8px;
        top: 100px;
        right: 16px;
        left: 16px;
        border: 1px solid #99A3AD;
        border-radius: 5px;
    }

    .modalHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .closeButton{
        background-color: #4169e15d;
        font-size: 1.2em;
        width: 32px;
        height: 32px;
        padding: 6px;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .closeButton:hover {
        background-color: #4169e185;
    }

    .modalTitle {
        margin-bottom: 12px;
    }

    .modalEditProfile form {
        display: flex;
        flex-direction: column;
    }

    .modalInput,
    .modalTextarea {
        height: 36px;
        margin-bottom: 6px;
        outline: none;
        border: 1px solid #99A3AD;
        border-radius: 5px;
    }

    .modalTextarea {
        resize: none;
    }

    .modalLabel {
        color: #202428;
        font-weight: 500;
    }

    .updateImage {
        margin-top: 8px;
        display: flex;
    }

    .userImg,
    .userImg img {
        background-color: royalblue;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        border-radius: 100%;
    }

    .fileContainer {
        overflow: hidden;
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #99A3AD;
    }

    .buttonsZone {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .updateButton {
        color: white;
        background-color: #3b49df;
        width: 40%;
        height: 32px;
        padding: 4px;
        font-size: 1em;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .updateButton:hover {
        background-color: #323EBE;
    }
    
    .deleteUserButton {
        color: white;
        background-color: #f20000a8;
        width: 40%;
        margin-top: 8px;
        padding: 8px;
        font-size: 1em;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .deleteUserButton:hover {
        background-color: #f20000c7;
    }

    .profileName {
        margin-top: 48px;
        font-size: 1.6em;
        font-weight: 600;
    }

    .profileDate {
        color: #64707D;
        margin-top: 24px;
        display: flex;
        align-items: center;
    }

    .fa-birthday-cake {
        margin-right: 8px;
        font-size: 1.3em;
    }

    .fa-bitbucket {
        margin-left: 8px;
        color: #64707D;
    }

    .moreInfoButton {
        color: #363D44;
        background-color: #fff;
        margin-top: 48px;
        height: 44px;
        width: 100%;
        border: 2px solid #dcdcdc;
    }
    
    .article {
        margin-top: 18px;
        max-width: 100vw;
    }

    .counterContainer {
        display: none;
    }

    .footer {
        background-color: #D2D6DB;
        padding: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .footerLinks p {
        font-size: 0.8em;
        margin: 0 8px;
        cursor: pointer;
    }
    
    .footerLinks p:hover {
        color: #3b49df;
    }
    
    .footerImg img {
        width: 0;
        height: 0;
    }
    
    .allFooterIcons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerIcon {
        color: #6b6c7a;
        margin: 12px;
        font-size: 1.4em;
    }
    
    .footerHr {
        width: 50px;
        color: #6b6b6b;
    }
    
    .footerCopyRigth {
        color: #6b6c7a;
        text-align: center;
    }
    
    .footerTextLinks {
        font-weight: 600;
        color: #313131;
        cursor: pointer;
    }
    
    .footerTextLinks:hover {
        color: #3b49df;
    }
    
    .footerLastImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footerLastImg img {
        width: 30px;
    }

    .visibility {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .mainContainer {
        padding-top: 80px;
        margin: auto 8px;
    }

    .modalEditProfile {
        padding: 12px;
        width: 98%;
        right: 0;
        left: 0;
        margin: auto 12px;
    }

    .modalInput,
    .modalTextarea {
        margin: 0 0 12px 6px;
        width: 90%;
    }

    .updateImage {
        display: flex;
        align-items: center;
    }

    .profileData {
        height: 228px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #dcdcdc;
    }

    .profileUserImg {
        width: 124px;
        height: 124px;
        border-radius: 100%;
        border: 8px solid black;
        left: 0;
        right: 0;
        margin: auto;
    }

    .editButton {
        top: 96px;
        right: 16px;
    }

    .profileDate {
        justify-content: center;
    }

    .moreInfoButton {
        display: none;
    }

    .articlesData {
        display: flex;
        margin-top: 8px;
    }

    .counterContainer {
        background-color: #f8f8f8;
        height: max-content;
        width: 30%;
        padding: 18px;
        line-height: 44px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        display: block;
    }

    .counterItems {
        font-size: 1.1em;
        display: flex;
        align-items: center;
    }

    .counterItems p {
        color: #202428;
    }

    .counterItems i {
        color: #7d8a97;
        margin-right: 12px;
    }

    .article {
        margin-top: 0;
        margin-left: 8px;
        width: 70%;
        height: max-content;
    }
    
    .footer {
        padding: 48px;
    }

    .footerLinks {
        display: flex;
        justify-content: center;
    }

    .footerLinks p {
        margin: 8px;
        font-size: 1em;
    }

    .footerHr {
        width: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .main {
        background: #eef0f1;
        background: linear-gradient(180deg, #000 24%, #eef0f1 24%);
    }

    .mainContainer {
        margin: auto 16px;
    }

    .modalEditProfile {
        padding: 48px;
    }

    .modalTitle {
        font-size: 2em;
    }

    .modalLabel {
        font-size: 1.2em;
    }

    .modalInput,
    .modalTextarea {
        width: 100%;
        height: 48px;
    }

    .userImg,
    .userImg img {
        width: 48px;
        height: 48px;
    }

    .fileContainer {
        width: 50%;
        height: 48px;
        padding: 12px;
    }
    
    .articlesData {
        margin-top: 16px;
    }

    .article {
        margin-left: 16px;
    }

    .footer {
        margin-top: 168px;
        padding: 48px;
        position: relative;
    }

    .footerImg img {
        width: 50px;
        height: auto;
        position: absolute;
        top: -2px;
        right: 48px;
    }
    
    .footerImg img:hover {
        transform: rotate(-2deg);
    }
}